*{
	margin: 0;
	padding: 0;
}
body,
html {
	height: 100%;
	font-family: Arial;
    line-height: 1.5;
}
.clear{
    clear: both;
}
.parallax{
	width: 100%;
	height: 100%;
	background-attachment: fixed;
	background-size: cover;
	background-position: 50% 0;
	position: relative;
}



.div1{
    width: 100%;
    height: 1300px;
    padding: 2% 0% 0% 0%;
    background-image: url(../img/background-img.jpeg);
}
.titulo{
    color: #FFFFFF;
    text-align: center;
	font-family: Arial;
    font-size: 45px;
    font-weight: bold;
    margin-top: 2px;
    
}
.div-form {
	width: 50%;
	height: 1000px;
	border-radius: 12px;
    background-color: rgba(0, 0, 0, 0.8);
    margin: 7% 0% 0% 10%;
    padding: 2%;
    display: inline-block;
    border: 1px solid #FFFFFF;
}
.titulo-form{
    color: #FFFFFF;
	font-family: Arial;
    font-size: 30px;
    margin-bottom: 5%;
    font-weight: bold;
}
.text-form{
    color: #FFFFFF;
	font-family: Arial;
    font-size: 20px;
    margin: 2.5% 0% 0% 0%;
}
#nome{
    width: 50%;
    height: 40px;
    border-radius: 8px;
    font-size: 15px;
}
#sobrenome{
    width: 50%;
    height: 40px;
    border-radius: 8px;
    font-size: 15px;
}
#email{
    width: 50%;
    height: 40px;
    border-radius: 8px;
    font-size: 15px;
}
#ddi{
    width: 8%;
    height: 40px;
    border-radius: 8px;
    font-size: 15px;
}
#ddd{
    width: 9%;
    height: 40px;
    border-radius: 8px;
    font-size: 15px;
}
#telefone{
    width: 20%;
    height: 40px;
    border-radius: 8px;
    font-size: 15px;
}
#rua{
    width: 50%;
    height: 40px;
    border-radius: 8px;
    font-size: 15px;
}
#n{
    width: 10%;
    height: 40px;
    border-radius: 8px;
    font-size: 15px;
}
#bairro{
    width: 38%;
    height: 40px;
    border-radius: 8px;
    font-size: 15px;
}
#cep{
    width: 20%;
    height: 40px;
    border-radius: 8px;
    font-size: 15px;
    margin-top: 2%;
}
#cidade{
    width: 50%;
    height: 40px;
    border-radius: 8px;
    font-size: 15px;
    margin-top: 2%;
}
#uf{
    width: 20%;
    height: 40px;
    border-radius: 8px;
    font-size: 15px;
    margin-top: 2%;
}

#caixa-mensagem{
    border-radius: 10px;
    margin-bottom: 4%;
    width: 95%;
}
.botao-limpar{
	background: #FFFFFF;
	color: #000000;
	border: 1px solid #000000;
	border-radius: 10px;
	cursor: pointer;
	font-family: Arial;
	font-size: 20px;
	font-weight: bold;
	padding: 10px 25px;
    transition: all 0.7s ease;
    float: left;
    margin: 3% 0% 0% 40%;
}
.botao-limpar:hover{
	background: #000000;
	color: #FFFFFF;
	border: 1px solid #000000;
	border-radius: 10px;
	cursor: pointer;
	font-family: Arial;
	font-size: 20px;
	font-weight: bold;
    padding: 10px 50px;
    transition: all 1.0s ease; 
    float: left;
    margin: 3% 0% 0% 40%;
}
.botao-enviar{
	background: #FFFFFF;
	color: #000000;
	border: 1px solid #000000;
	border-radius: 10px;
	cursor: pointer;
	font-family: Arial;
	font-size: 20px;
	font-weight: bold;
	padding: 10px 25px;
    transition: all 0.7s ease;
    float: right;
    margin: 3% 5% 0% 0%;
}
.botao-enviar:hover{
	background: #000000;
	color: #FFFFFF;
	border: 1px solid #000000;
	border-radius: 10px;
	cursor: pointer;
	font-family: Arial;
	font-size: 20px;
	font-weight: bold;
    padding: 10px 50px;
    transition: all 1.0s ease; 
    float: right;
}
.div2{
    width: 100%;
    height: 600px;
    background-image: url(../img/background-img.jpeg);
}
#linha{
    background: #FFFFFF;
    width: 70%;
    margin-left: 15%;
    margin-top: 8%;
}
.div-mais-info{
    width: 50%;
    height: 50px;
    display: inline-block;
    background-color: #000000;
    border: 2px solid #FFFFFF;
    border-radius: 12px;
    text-align: center;
    margin-top: 8%;
    margin-left: 25%;
}
.div-info{
    width: 50%;
    height: 250px;
    padding: 0% 0% 0% 2%;
    margin-top: 5%;
    margin-left: 25%;
}
.redes-sociais{
    margin-left: 10%;
}
.img-redes-sociais{
    width: 25px;
    height: 25px;
    margin-right: 1%;
}
#link-redes-sociais{
    margin-right: 20px;
    color: #FFFFFF;
}
.div-end{
    width: 100%;
    height: 7%;
    display: inline-block;
    background: #000000;
}
.text-div-end{
    color: #86868b;
	font-family: Arial;
    font-size: 15px;
    text-align: center;
    margin-top: 1%;
}
#link-brasil{
    float: right;
    margin-right: 20px;
    color: #86868b;
}

